@use "sass:math";


// Connection of Mixins ===========================================================================================================================================================================================================================================================================
@import "base/Mixins";

// Default font ==============================================================================================================================================================================================================================================================================
$fontFamily: "";
$fontSize: rem(14);

// Basic colors
$mainColor: #000; // Default font color
$whiteColor: #fff;


// Minimum Page Width
$minWidth: 320;
// Canvas (layout) width
$maxWidth: 1920;
// Bounding container width (0 = no limit)
$maxWidthContainer: 1170;
// General container padding
// (30 = 15px left and right, 0 = no padding)
$containerPadding: 30;

// Width of the first breakpoint
$containerWidth: $maxWidthContainer + $containerPadding;

// Break points
$pc: em($containerWidth);
$tablet: em(991.98);
$mobile: em(767.98);
$mobileSmall: em(479.98);

// Adaptive type:
// 1 = responsive (container has no breakpoints),
// 2 = by break points (container changes its width by break points)
$responsiveType: 1;

// ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Zeroing ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/Null";

// BODY tag styles ============================================================================================================================================================================================================================================================================================================================================================================================

body {
  // Scroll blocked
  .lock & {
    overflow: hidden;
    touch-action: none;
    overscroll-behavior: none;
  }
  // Site loaded
  .loaded & {
  }
}

// Shell Wrapper ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  // Press footer
  > main {
    flex: 1 1 auto;
  }
  // Fix for sliders
  > * {
    min-width: 0;
  }
}
//====================================================================================================

[class*="-ibg"] {
  position: relative;
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}

// Bounding container ======================================================================================================================================================================================================================

/*
(i) Styles will be applied to
to all classes containing *__container
For example header__container, main__container etc.
*/
@if ($responsiveType==1) {
  // Responsive
  [class*="__container"] {
    @if ($maxWidthContainer>0) {
      max-width: rem($maxWidthContainer);
      box-sizing: content-box;
      margin: 0 auto;
    }
    @if ($containerPadding>0) {
      padding: 0 rem(math.div($containerPadding, 2));
    }
  }
} @else {
  // By break points
  [class*="__container"] {
    margin: 0 auto;
    @if ($maxWidthContainer>0) {
      max-width: rem($maxWidthContainer);
      box-sizing: content-box;
    } @else {
      @if ($containerPadding>0) {
        padding: 0 rem(math.div($containerPadding, 2));
      }
    }
    @media (max-width: $pc) {
      max-width: rem(970);
    }
    @media (max-width: $tablet) {
      max-width: rem(750);
    }
    @media (max-width: $mobile) {
      max-width: none;
      @if ($containerPadding>0 and $maxWidthContainer>0) {
        padding: 0 rem(math.div($containerPadding, 2));
      }
    }
  }
}


